#wrapper {
	width:100%;min-width:420px;
}
body {
	margin:0;
}
#site-navigation, #site-navigation ul li>.sub-menu {
	background-color: navy;
	background-image: linear-gradient(#009, navy);
	box-sizing: border-box;
}

#site-navigation div {
	padding: 0 38px;
}
    
#site-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#site-navigation ul:after {
    content: '';
    display: block;
    clear: both;
}

#site-navigation ul li.current-menu-item {
    background: rgba(255,255,255,.2);
    -webkit-box-shadow: none;
    box-shadow: none;
}
#site-navigation ul li {
	position: relative;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
#site-navigation ul li a, #site-navigation ul li .removed-link {
    line-height: 1.5;
	display: inline-block;
    text-align: left;
    padding: 8px 20px;
	font-size: 16px;
	box-sizing: border-box;
}
#site-navigation ul li.has-children {
    padding-right: 0;
}
#site-navigation ul li>.sub-menu {
	display:none;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 500;
    margin-right: 0;
    -webkit-box-shadow: 0 0 15px rgba(34,52,67,.3);
    box-shadow: 0 0 15px rgba(34,52,67,.3);
    border-top: 1px solid rgba(255,255,255,.2);
}
#site-navigation ul li:hover>.sub-menu {
	display:block
}
#site-navigation ul li .removed-link:focus, #site-navigation ul li .removed-link:hover, #site-navigation ul li a:focus, #site-navigation ul li a:hover {
    background: rgba(255,255,255,.1);
    -webkit-box-shadow: none;
    box-shadow: none;
}
#site-navigation ul li>.sub-menu li a {
    white-space: nowrap;
    padding-left: 20px;
}
#site-navigation ul li>.sub-menu li {
    float: none;
}

#site-navigation ul li>.sub-menu li a {
    display: block;
    padding-left: 40px;
}
#site-navigation ul li.has-children a {
    border-right: none;
}

.mob-hamburger span {
    display: block;
    height: 7px;
    background: navy;
}

.mob-hamburger.active {
    height: 34px;
    padding-top: 6px;
    opacity: .5;
    filter: "alpha(opacity=50)";
}

.mob-hamburger {
    position: relative;
	float: right;
	box-sizing: border-box;
    top: 23px;
    right: 20px;
    width: 50px;
    height: 44px;
    padding-top: 11px;
    border-top: 7px solid navy;
    border-bottom: 7px solid navy;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#footer {
	color:white;
	background-color:navy;
}

#footer_btns {
	height: 40px;
	text-align:center;
	padding-top:5px;
}

@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

#kurs_btn {
	cursor: pointer;
}
#kurs_btn a {
	font-size:12pt; color:#fff;
}

@media (min-width: 1150px) {
	.mob-hamburger {
		display: none;
	}
	#site-navigation ul li {
		float: left;
	}
	#header {
		max-height: 224px;
	}
	#site-navigation ul li.has-children:after {
		content: '';
		position: absolute;
		bottom: 4px;
		left: 50%;
		right: auto;
		top: auto;
		margin: 0 0 0 -2px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4px 3px 0 3px;
		border-color: rgba(255,255,255,.7) transparent transparent transparent;
	}
	#kurs_container {
	display:inline-block;overflow:hidden; height:224px; width:758px
	}
	#kurs_container a {
		margin-left:-0px;display:inline-block;overflow:hidden;text-decoration:none;
	}
	#kurs_container a img {
		margin: 0 0 0 30px;border:0 none;
	}
	#kurs_txt {
		display:inline-block;width:540px;overflow:hidden;height:224px;padding-top:16px
	}
	#kurs_txt .hdr {
		font-size:40pt;font-family:Arial Narrow, Arial;color:navy
	}
	#kurs_btn {
		color:white;background:#eb522b;padding:12px 20px;display: inline-block; margin-top: 32px;
		-webkit-animation: pulsate 2.2s linear infinite; animation: pulsate 2.2s linear infinite;
	}
	#kurs_btn:hover, #kurs_btn:focus { 
		background:#ff8923; border-color: #d07322;
	}
	#logo_img {
		margin: 72px 20px;border:0 none;
	}
	#to_top {
		margin: 30px;
	}
}

@media (max-width: 1149px) {
	#site-navigation {
		display: none;
	}
	#site-navigation div {
		padding: 0;
	}
	#site-navigation ul li:hover>.sub-menu {
		display: none;
	}
	#site-navigation ul li a {
		width: 100%
	}
	#kurs_container {
		display:block;overflow:hidden;
	}
	#kurs_container a {
		margin-left:0px;text-decoration:none;position:relative;display:block;text-align:center
	}
	#kurs_container a img {
		margin: 0 auto;border:0 none;
	}
	#kurs_txt {
		display:block;overflow:hidden;padding-top:16px;margin-bottom:20px;
	}
	#kurs_txt .hdr {
		font-size:30pt;font-family:Arial Narrow, Arial;color:navy
	}
	#kurs_btn {
		color:white;background:#eb522b;padding:12px 20px;display: inline-block;font-size:12pt;
		margin-top: 20px;
		-webkit-animation: pulsate 2.2s linear infinite; animation: pulsate 2.2s linear infinite;
	}
	#kurs_btn:hover, #kurs_btn:focus { 
		background:#ff8923; border-color: #d07322;
	}
	#logo_img {
		margin: 10px;border:0 none;
	}
}

#to_top {
  display: inline-block;
  background-color: #ff5e00;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none;
}
#to_top:after {
  content: "\25b2";
  position: absolute;
  top: -2px;
  right: 13px;
  font-family: Verdana;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
}
#to_top:hover, #to_top:focus {
  cursor: pointer;
  background-color: #333;
}
#to_top:active, #to_top:visited {
  background-color: #555;
}
#to_top.show {
  opacity: 1;
  visibility: visible;
}