.hl_container {
  color:white;
  margin: 10px 0 10px 0;
  font-size:12px;
  border: 1px #AAAAAA solid;
  width:800px;
}
.hl_header {
  background:#CCCCCC;
  padding:3px;
  font-family:Verdana;
}
.hl_scroll_part_large {
  overflow:auto;
  height:305px;
}
.hl_scroll_part_normal {
  overflow:auto;
}
.hl_normal {
  width:100%;
  overflow:auto;
  display: table;
}
.hl_ie {
  width:100%;
  overflow-x:scroll;
  overflow-y:none;
}
.hl_main {
  list-style: decimal-leading-zero;
  list-style-position: outside;
  background-color: #F8F8F8;
  margin: 0 0 1px 45px;
  padding: 0px;
  color: #5C5C5C;
  line-height: 16px;
  font-family: monospace;
  white-space:nowrap;
}

.hl_comment { color:#999999; }
.hl_number { color:#008000; }
.hl_char { color:#0000FF; }
.hl_quote { color:#B22222; }
.hl_registr { color:#9932CC; font-weight: bold; }
.hl_function { color:black; font-weight: bold; }

.hl_l1 { border-left: 2px solid #004576;
  background-color: #F8F8F8;
  padding: 0 3px 0 10px;
  display: list-item;
  width: auto;
  white-space:nowrap;
  font-family: monospace;
}
.hl_l0 {
  border-left: 2px solid #004576;
  background-color: #FFFFFF;
  padding: 0 3px 0 10px;
  display: list-item;
  width: auto;
  font-family: monospace;
}
.post { box-sizing: border-box }
.post img{
  max-width: 100%;
  height: auto;
  display: inline-block;
}
@media (max-width: 3000px) {
  .post {
    max-width: 2700px;
  }
}
@media (max-width: 2000px) {
  .post {
    max-width: 1800px;
  }
}
@media (max-width: 1025px) {
  .post, .hl_container {
    max-width: 700px;
  }
}
@media (max-width: 825px) {
  .post, .hl_container {
    max-width: 600px;
	overflow-x: scroll;
  }
}
@media (max-width: 450px) {
  .post, .hl_container {
    max-width: 300px;
	overflow-x: scroll;
  }
}