/* Body class */
#logo{
    position: absolute;
    top: 10px;
    left: 11px;
}
#dvd{
    position: absolute;
    top: 15px;
    left: 460px;
}
#footer{
    background: navy;
    text-align: left;
    font-size: 8pt;
    color:thistle;
    font-family: Verdana, Arial;
    width: 100%;
}
#wrapper {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    background: thistle;
}

i {
    color: #000080;
    font-weight: bold;
}
i.x {
    color: black;
    font-weight: normal;
}

/* Style for good-marked messages */

.txtGoods{
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
color: #006600;
text-decoration: none;	
font-size: 11px;
font-weight: bold;
}

legend{
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
color: #707070;
text-decoration: none;
font-size: 10px;
}

fieldset {
	border: 1px #F7F7F7 solid;
	padding: 8px;
	margin-left: 10px;
	margin-right: 10px;
}

/* General smart tables class */

table.forums {
width: 95%;
border: 1px #006898 solid;
display: table;
border-collapse: collapse;
border-spacing: 0px;
color: #000000;
} 

/* Caption 1 (the one for displaying sub-headers like "topics, posted" etc) */

td.caption1 {
border: 1px #FFFFFF solid;
padding: 2px;
height: 25px;
font-size: 12px;
}

/* Caption 2 color and properties (this one displaying main menu,  New Topic text bg, New Message text bg) */

td.caption2 {
background-color: #E0E4E8;
border: 1px #FFFFFF solid;
padding: 2px;
height: 20px;
font-size: 11px;
}

/* Caption 3 (used for Last Discussions, topic titles, Forums selection) */

td.caption3 {
background-color: #E0E0E0;
padding: 2px;
height: 20px;
font-size: 11px;
}

/* Caption 4 (the one for displaying not separate headers like Forum, Topic, Poster etc., Buttons menu, left info cell) */

td.caption4 {
background-color: #A1B6C6;
border: 1px #FFFFFF solid;
padding: 2px;
height: 20px;
font-size: 11px;
}

/* Caption 5 (used for user input like password/login and registration etc) */

td.caption5 {
background-color: #E0E0E0;
border: 1px #FFFFFF solid;
padding: 2px;
height: 20px;
font-size: 11px;
}

/* Caption 6 (this one is for displaying title headers (language, search). The same color as caption2, but different font size) */

td.caption6 {
background-color: #F7F7F7;
border: 1px #FFFFFF solid;
padding: 2px;
height: 20px;
font-size: 12px;
}

/* Caption 7 (the one for displaying not separate headers like Forum, Topic, Poster etc., Buttons menu, left info cell) */

td.caption7 {
background-color: #D0D8E0;
border: 1px #FFFFFF solid;
padding: 2px;
height: 20px;
font-size: 11px;
}

/* Simple transparent table without borders and background color (menu navigation, general tables) */

.tbTransparent{
width: 95%;
background: transparent;
font-size: 12px;
}

/* Small analog text, used usually with SPAN */

.txtSm{
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
color: #330000;
text-decoration: none;	
font-size: 11px;
}

DIV{
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
color: #000000;
text-decoration: none;
font-size: 12px;
}

/* Font for displaying username in each thread */

DIV.username{
text-decoration: none;
font-size: 12px;
}

/* Class for select boxes */

.selectTxt {
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
}

/* Topics/forums/threads content cell colors */

.tbCel1{ background: #E0E4E8; }
.tbCel2{ background: #D0D8E0; }

/* Class for displaying stuff like -> */

.bulletHead{
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
color: #B2BFF2;
font-weight: bold;
}

/* Heading titles */

.header{
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
color: #000000;
text-decoration: none;
font-weight: bold;
font-size: 12px;
}

.formStyle{
margin: 0px;
}

.inputButton {
background: #FFFFFF;
border-bottom: #D1DCFD 1px solid;
border-left: #D1DCFD 1px solid;
border-right: #D1DCFD 1px solid;
border-top: #D1DCFD 1px solid;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 12px;
}

#toolButton {
cursor: pointer;
cursor: hand;
}

/* Input areas - boxes, textareas... */

.textForm {
background: #FFFFFF;
border-bottom: #004576 1px solid;
border-left: #004576 1px solid;
border-right: #004576 1px solid;
border-top: #004576 1px solid;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 12px;
}

/* Stats bar */

.tbStBar{
border: 0px;
margin: 1px;
padding: 1px;
background: #CED7FF;
font-size: 11px;
}

/* Warning text */

.warning{
color: red;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 12px;
font-weight: bold;
}

/* Supscript class */

.navCell{
font-family: Arial,Helvetica,Geneva,sans-serif,Arial,Verdana;
font-size: 9px;
}

/*GENERAL DEFINITIONS*/

P{
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
color: #000000;
text-decoration: none;
font-size: 13px;
}

SMALL{
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
color: #000000;
text-decoration: none;
font-size: 11px;
}

PRE{
font-family: Helvetica,sans-serif;
color: #000000;
text-decoration: none;
font-size: 13px;
}

LI{
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
color: #32323A;
text-decoration: none;
font-size: 10pt;
margin-top: 0px;
margin-bottom: 0px;
margin-right : 0px;
margin-left : 0px;
}

UL{
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
color: #32323A;
text-decoration: none;
font-size: 10pt;
margin-top: 0px;
margin-bottom: 0px;
margin-right : 15px;
margin-left : 15px;
}

H1 { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; color: #32323A; text-decoration: none; font-size: 16px; }
H3 { font-family: Verdana,Geneva,Arial,sans-serif; color: red; text-decoration: none; font-size: 15px; }

A:link { color: #004576; text-decoration: none; }
A:active { color: #004576; text-decoration: none; }
A:visited { color: #004576; text-decoration: none; }
A:hover { color: #004576; text-decoration: none; }

A.m:link
{text-decoration: none;color:white;font-size: 8pt;font-family: Verdana, Arial;}
A.m:visited
{text-decoration: none;color:white;font-size: 8pt;font-family: Verdana, Arial;}
A.m:active
{text-decoration: underline;color:white;font-size: 8pt;font-family: Verdana, Arial;}
A.m:hover
{text-decoration: underline;color:white;font-size: 8pt;font-family: Verdana, Arial;}

pre { FONT-FAMILY: Courier; FONT-SIZE: 11px; COLOR: #000080; }

BODY{
    SCROLLBAR-FACE-COLOR: thistle;
    SCROLLBAR-HIGHLIGHT-COLOR: navy;
    SCROLLBAR-SHADOW-COLOR: navy;
    SCROLLBAR-3DLIGHT-COLOR: thistle;
    SCROLLBAR-ARROW-COLOR: navy;
    SCROLLBAR-TRACK-COLOR: thistle;
    SCROLLBAR-DARKSHADOW-COLOR: thistle;
    background-color: thistle; color: navy;
    font-size: 10pt; font-family: Verdana, Arial;
}

.tg { color:thistle;font-size: 8pt;font-family: Verdana, Arial; }

.caption1 font, .caption1 p i {font-size:10px}
.tg font {font-size:8pt}

.username div .dops{display:none;position:absolute;background:#ccc;padding:1px}
.username div:hover .dops{display:block}
.dops div{border-bottom:1px solid #aaa;padding:2px}